<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yatti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".alta_clientes"></activity>
        <activity android:name=".alta_personal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".control_personal_clientes" />
        <activity android:name=".control_vendedor_geoposicion" />
        <activity android:name=".control_entrada_salida" />
        <activity android:name=".control_fabricacion" />
        <activity android:name=".quejas_sugerencias" />
        <activity android:name=".programar_servicio" />
        <activity android:name=".solicitar_servicio" />
        <activity
            android:name=".menu_fabrica"
            android:label="@string/title_activity_menu_fabrica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_ventas"
            android:label="@string/title_activity_menu_ventas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_administracion"
            android:label="@string/title_activity_menu_administracion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menu_cliente"
            android:label="@string/title_activity_menu_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>